* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease-in infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navBar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

.navBar ul li {
    padding: 0 15px;
}

.navLogo img {
    width: 45px;
    height: 45px;
    padding: 0 10px;
}

.navLogo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.mainContainer {
    width: 70%;
    min-height: 75vh;
    background-color: black;
    display: flex;
    margin: 23px auto;
    border-radius: 10px;
    background-image: url('bg.jpg');
    filter: drop-shadow(10px 12px 15px white);
    background-position: 50%;
    background-size: cover;
}

.footerSec {
    position: fixed;
    width: 100%;
    bottom: 0;
    /* height: 130px; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.footerContainer {
    display: flex;
    width: 80vw;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.icons {
    margin: 5px;
}

.icons i {
    cursor: pointer;
}

#musicRangeBar {
    width: 80vw;
    cursor: pointer;
    justify-content: center;

}

.songName {
    font-weight: bolder;
}

.songListContainer {
    margin-left: 20px;
}


.songListContainer h1 {
    margin-left: 20px;
    color: #e73c7e
}

.songList {
    height: 40px;
    filter: drop-shadow(2px 2px 6px blue);
    /* box-shadow: 4px 4px 4px green; */
    display: flex;
    background: rgb(115, 137, 230);
    background: linear-gradient(180deg, rgba(115, 137, 230, 1) 95%, rgba(229, 228, 235, 1) 100%, rgba(59, 76, 215, 1) 100%);
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songList img {
    width: 43px;
    height: 43px;
    margin: 25px 23px;
    border-radius: 50%;
}

.duration {
    margin: 0 23px;
}

.duration i {
    cursor: pointer;
}

.songInfo {
    width: 40%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.songInfo img {
    width: 23px;
    height: 23px;
    justify-content: flex-start;
}

.functionalityIcons {
    cursor: pointer;

}

.colorChanger {
    accent-color: red;
}

#gif {
    opacity: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 7px;
}

.songInfo {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in.3s;
}